In [1]:
#Â for loop, while loop

In [2]:
# for loop

In [3]:
my_list = [10,20,30,40,50,60,70]

In [4]:
my_list[0] / 5 * 2

4.0

In [5]:
my_list[1] / 5 * 2

8.0

In [6]:
for num in my_list:
    print(num / 5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [7]:
print("for loop started")
for x in my_list:
    new_number = x / 5 * 2
    print(new_number)
print("for loop ended")

for loop started
4.0
8.0
12.0
16.0
20.0
24.0
28.0
for loop ended

In [8]:
my_list

[10, 20, 30, 40, 50, 60, 70]

In [9]:
for number in my_list:
    if number % 6 == 0:
        print(number)

30
60

In [10]:
number_list = [1,2,3,4,5,6,7,8,9,10]

In [11]:
for num in number_list:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [12]:
my_string = "atil samancioglu"

In [13]:
for c in my_string:
    print(c)

a
t
i
l

s
a
m
a
n
c
i
o
g
l
u

In [14]:
my_tuple = (10,20,30,40,50,60,70)

In [15]:
for num in my_tuple:
    print(num / 5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [16]:
my_tuple

(10, 20, 30, 40, 50, 60, 70)

In [17]:
my_new_list = [("a","b"),("c","d"),("e","f"),("g","h")]

In [18]:
len(my_new_list)

4

In [19]:
my_new_list[0]

('a', 'b')

In [20]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [21]:
#tuple unpacking

In [24]:
my_new_list[0][1]

'b'

In [26]:
for (x,y) in my_new_list:
    print(y)

b
d
f
h

In [27]:
my_tuple_list = [(0,1,2),(3,4,5),(6,7,8),(9,10,11)]

In [28]:
len(my_tuple_list)

4

In [29]:
for (x,y,z) in my_tuple_list:
    print(x)

0
3
6
9

In [30]:
my_set = {1,2,3,4,5}

In [31]:
my_set

{1, 2, 3, 4, 5}

In [32]:
len(my_set)

5

In [33]:
type(my_set)

set

In [34]:
for num in my_set:
    print(num)

1
2
3
4
5

In [35]:
my_dictionary = {"k1":100,"k2":200,"k3":300}

In [36]:
for element in my_dictionary:
    print(element)

k1
k2
k3

In [39]:
my_dictionary.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [41]:
for (key,value) in my_dictionary.items():
    print(value)

100
200
300

In [42]:
for num in my_dictionary.values():
    print(num)

100
200
300

In [43]:
#continue - break - pass

In [44]:
my_list = [10,20,30,40,50,60,70]

In [45]:
print("for loop started")
for num in my_list:
    print(num)
print("for loop ended")

for loop started
10
20
30
40
50
60
70
for loop ended

In [46]:
40 in my_list

True

In [52]:
for number in my_list:
    print(number)
    if number == 40:
        print("yes")
        break

10
20
30
40
yes

In [61]:
my_list = [10,20,30,40,50,60,70]

In [62]:
for number in my_list:
    if number == 40:
        continue
    print(number)

10
20
30
50
60
70

In [65]:
for num in my_list:
    pass

In [66]:
#while

In [70]:
x = 0

In [71]:
print("while loop started")
while x < 10:
    print(x)
    x = x + 1
print("while loop ended")

while loop started
0
1
2
3
4
5
6
7
8
9
while loop ended

In [74]:
last_list = [10,20,30,40,50]

In [75]:
while 20 in last_list:
    print("20 in last_list")
    last_list.pop()

20 in last_list
20 in last_list
20 in last_list
20 in last_list

In [76]:
my_list = [10,20,30]

In [77]:
my_list

[10, 20, 30]

In [78]:
print(my_list)

[10, 20, 30]

In [80]:
print(f"my list: {my_list}")

my list: [10, 20, 30]

In [81]:
name = input("enter name: ")

enter name: atil

In [82]:
print(f"welcome {name}")

welcome atil

In [83]:
print("welcome",name)

welcome atil

In [84]:
p = 0
while p < 20:
    print(f"value of p: {p}")
    p += 1

value of p: 0
value of p: 1
value of p: 2
value of p: 3
value of p: 4
value of p: 5
value of p: 6
value of p: 7
value of p: 8
value of p: 9
value of p: 10
value of p: 11
value of p: 12
value of p: 13
value of p: 14
value of p: 15
value of p: 16
value of p: 17
value of p: 18
value of p: 19